@import './vars.scss';

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

.why {
    width: 250px;
    background-color: #4ba5ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 142px;
    height: 250px;
    overflow: hidden;
    transition: 1s all;
}
.why:hover {
    border-radius: 10px;
}

.titleReason {
    font-size: 20px;
}
.discReason {
    text-align: center;
}